body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-color: #14171C;
    min-height: 100vh;

}

.custom-gradient {
    --gradient-start: rgba(0, 0, 0, 1);
    --gradient-end: rgba(0, 0, 0, 0);
    background-image: linear-gradient(to bottom, var(--gradient-start) 50px, var(--gradient-end) 100px);
    height: 100px;
}


/* Carousel and animation css starts */
.rc-carousel {
    --box-gap: 1.5rem;
    --tile-size: 8rem;
    width: 100%;
    margin: var(--box-gap) auto;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
.rc-carousel::before,
.rc-carousel::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-image: -webkit-gradient(
    linear,
    ,
    from(transparent),
    to(var(--body-bg))
    );
    background-image: -o-linear-gradient(
            var(--direction),
            transparent,
            var(--body-bg)
    );
    background-image: linear-gradient(
            to var(--direction),
            transparent,
            var(--body-bg)
    );
    z-index: inherit;
}
.rc-carousel::before {
    left: 0;
    --direction: left;
}

.rc-carousel::after {
    right: 0;
    --direction: right;
}
.rc-carousel-strip {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-animation: slideX 20s linear infinite;
    animation: slideX 20s linear infinite;
}
.rc-carousel-strip.reverse {
    /* reverse animation */
    animation-direction: reverse;
}
.rc-carousel-strip:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.rc-carousel-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: var(--box-gap);
}

.rc-carousel-item {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: var(--tile-size);
    height: var(--tile-size);
}

.rc-carousel-item-image {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}

@-webkit-keyframes slideX {
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    0% {
        -webkit-transform: translateX(
                calc(-1 * (var(--tile-size) + var(--box-gap)) * (var(--tiles) / 2))
        );
        transform: translateX(
                calc(-1 * (var(--tile-size) + var(--box-gap)) * (var(--tiles) / 2))
        );
    }
}

@keyframes slideX {
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    0% {
        -webkit-transform: translateX(
                calc(-1 * (var(--tile-size) + var(--box-gap)) * (var(--tiles) / 2))
        );
        transform: translateX(
                calc(-1 * (var(--tile-size) + var(--box-gap)) * (var(--tiles) / 2))
        );
    }
}

/* Animation won't work if you preferes reduced motion */
@media (prefers-reduced-motion) {
    /* styles to apply if a user's device settings are set to reduced motion */
    .rc-carousel::before,
    .rc-carousel::after {
        display: none;
    }
    .rc-carousel-box {
        flex-wrap: wrap;
        justify-content: center;
    }
    .rc-carousel-box [aria-hidden="true"] {
        display: none;
    }
    .rc-carousel-strip {
        animation: none;
    }
}
/* reduced motion css ends */
/* Carousel and animation css ends */