body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.custom-gradient {
    --gradient-start: rgba(0, 0, 0, 1);
    --gradient-end: rgba(0, 0, 0, 0);
    background-image: linear-gradient(to bottom, var(--gradient-start) 50px, var(--gradient-end) 100px);
    height: 100px;
}

.bottom-line {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.scaled-image {
    max-width: 70%;
    height: auto;
    width: 100%;
}

.pfp-container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    width: 10%;

}

.pfp {
    width: 100%;
    height: auto;
    display: block;
}

.custom-modal {
    max-width: 100vh;
}

.custom-modal .modal-content {
    background-color: #2c3e50;
    color: white;
}

.modal-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-image {
    height: 100%;
    width: auto;
}

.custom-alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1051;
}